/*Class*/
/*Text*/
.body {
    font-family: 'Old Standard TT', serif;
    background-color: rgb(230, 230, 230);
}
.main {
    padding: 10px;
}
.h1 {
    top: 30%;
    color: #c0392b;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    font-size: auto;
    margin-top: auto;
    text-align: center;
    max-width: 1000px;
}
h2 {
    background-color: #ffa8a8;
    padding: 5px;
    border-radius: 5px;
    border: 5px groove;
}
p {
    background-color: #c9c9c9;
    padding: 10px;
    border-radius: 5px;
}
ul {
    background-color: #c9c9c9;
    padding: 10px;
    border-radius: 5px;
    padding-left: 40px;
}
ol {
    background-color: #c9c9c9;
    padding: 10px;
    border-radius: 5px;
    padding-left: 40px;
}

/*Button*/
.button{
    color: #25293A;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    border-radius: 5px;
    height: 40px;
    border-radius: 8px;
    width: 30%;
}
.button:hover {
    background-color: #696969;
    color: #3d3d3d;
}

/*Div*/
.hauptdiv {
    font-family: 'Old Standard TT', serif;
}
.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/*Image*/
.image1 {
    background-position: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    max-width: 1000px;
    filter:grayscale(100%)
}
.image1:hover {
    background-position: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.233);
    max-width: 1000px;
    transform: scale(1.05);
}

/*Footer*/
.footer {
    text-align: center;
    background-color: #2c2c2c;
    color: #c9c9c9;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
}

/*Id*/
/*Button*/
#button-menu1 {
    background: linear-gradient(to right, #C0392B, #808080, #ffffff);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    position: scroll;
}
#button1 {
    background-color: #c0392b;
    color: white;
    border: none;
}
/*Picture*/
#Flag {
    background-image: url(img/water-texture.avif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: 5px groove;
}