/*Class*/
/*Text*/
.body {
    font-family: 'Old Standard TT', serif;
    background-color: rgb(230, 230, 230);
    margin-left: 20%;
    margin-right: 20%;
}
.main {
    padding: 10px;
}
h1 {
    top: 30%;
    color: #c0392b;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    margin-top: auto;
    text-align: center;
    max-width: 1000px;
    font-size: 50px;
}
h2 {
    background-color: #2C2E35;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 5px;
    box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    transition: 1s;
    margin-top: 100px;
}
table {
    width: 100%;
    margin-bottom: 100px;
}
.links:hover, h2:hover, .category:hover  {
    box-shadow: 0px 0px 0px transparent;
    transition: 1s;
}
.links {
    background-color: #c9c9c9;
    padding: 10px;
    word-break: break-all;
    border-radius: 10px;
    padding-left: 40px;
    box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    transition: 1s;
    word-break: break-all;
}
.link {
    color: #c0392b;
    text-decoration: none;
}
.link:hover {
    color: #ff0000;
    text-decoration: underline;
}
.category {
    background-color: #c0392b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    transition: 1s;
    text-align: center;
    width: 25px;
    margin: 0 auto;
}

/*Button*/
button{
    color: #25293A;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    border-radius: 10px;
    height: 40px;
    border-radius: 8px;
    width: 30%;
    transition: 0.2s;
}
button:hover {
    background-color: #696969;
    color: #3d3d3d;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    border-radius: 10px;
    height: 40px;
    width: 35%;
    transition: 0.2s;
}
/*Image*/
.image1 {
    background-position: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    max-width: 1000px;
    filter:grayscale(100%);
}
.image1:hover {
    background-position: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.233);
    max-width: 1000px;
    transform: scale(1.05);
    transition: 0.2s;
}
/*Footer*/
footer {
    text-align: center;
    background-color: #2c2c2c;
    color: #c9c9c9;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Id*/
/*Button*/
#button-menu1 {
    background: linear-gradient(to right, #000000, #808080, #ffffff);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    border-radius: 10px;
}

/* Link */
#source-link {
    color: #c9c9c9;
}
#source-link:hover {
    color: #ff0000;
    text-decoration: none;
}