.button-menu {
    background: linear-gradient(to right, black, #2c3353, #afafaf);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    position: scroll;
}
.button{
    color: #25293A;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    border-radius: 5px;
}
.button:hover {
    background-color: #696969;
    color: white;
}
#button1 {
    background-color: #696969;
    color: white;
    border: none;
}
#button2 {
    background-color: #696969;
    color: white;
    border: none;
}
#button3 {
    background-color: #696969;
    color: white;
    border: none;
}
.body {
    font-family: 'Old Standard TT', serif;
    background-color: rgb(230, 230, 230);
}
.image1 {
    background-position: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
h1 {
    position: sticky;
    top: 30%;
    color: #25293A;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.7);
    font-size: 7vw;
    margin-top: auto;
    text-align: center;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #696969;
    color: #c9c9c9;
    font-size: 14px;
    width: 100%;
    text-decoration: italic;
}
.hauptdiv {
    font-family: 'Old Standard TT', serif;
}